.main{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.mainForm{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
}